* {
    box-sizing: border-box;
}

.adDetailsContainer {
    width: 100%;
    min-height: auto;
    max-height: auto;
    background: #e7edee;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    border-bottom: 1.5px solid green;
    padding-bottom: 25px;
    padding-top: 25px;
}

.adDetailsBody {
    width: 100%;
    height: auto;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: Arial,Helvetica,sans-serif;
    width: 984px;
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px;
}

.adDetailsHeader {
    width: 100%;
}

.adDetailsHeaderTitle {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 25px;
}

.adDetailsHeaderSubtitle {
    color: gray;
    margin-bottom: 10px;
}

.adDetailsBodyContent {
    width: 100%;
    display: flex;
}

.adDetailsBodyContentLeft {
    width: 65%;
}

.adDetailsBodyContentRight {
    width: 35%;
}

.adDetailsBodyContentLeftImageContainer {
    height: 600px;
    width: 100%;
    background: #e7edee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.adDetailsBodyContentLeftImageContainer > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.adDetailsBodyContentRightColumn {
    margin: 0px 15px;
    border-top: 1px solid lightgray;
}

.adDetailsBodyContentRightRow {
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 10px;
    color: gray;
}

.adDetailsPrice {
    color: darkgreen;
    font-size: 22px;
    font-weight: bold;
}

.deleteAdButton {
    width: 100%;
    color: rgba(211, 7, 7, 0.959);
    background-color: rgb(226, 226, 226);
    outline: none;
    border: none;
    border-radius: 4px;
    height: 32px;
    margin: 12px 0px;
    cursor: pointer;
    font-weight: bold;
}

.deleteAdButton:hover {
    background-color: rgba(211, 7, 7, 0.959);
    color: white;
}

.deleteAdButton:active {
    background-color: rgba(189, 8, 8, 0.959);
}

@media (max-width: 768px) {
    .adDetailsContainer {
        flex-direction: column;
        width: 100vw;
    }
    .adDetailsBody {
        width: 100vw;
    }
    .adDetailsBodyContent {
        flex-direction: column;
    }
    .adDetailsBodyContentLeft, .adDetailsBodyContentRight {
        width: 100%;
    }
    .adDetailsBodyContentRightColumn {
        margin: 20px 0px;
        width: 100%;
    }
    .adDetailsBodyContentLeftImageContainer {
        height: auto;
        width: 100vw;
    }
    .adDetailsBodyContentLeftImageContainer > img {
        height: 100%;
        width: 94%;
        object-fit: contain;
    }
}

