* {
    box-sizing: border-box;
}

.adInfoContainer {
    border-top: 1px solid lightgray;
    border-radius: 6px;
    max-width: 500px;
    display: flex;
    padding-top: 10px;
    min-height: 180px;
    max-height: auto;
}

.adInfoContainer:hover {
    border: 1px solid lightgray;
    cursor: pointer;
    box-shadow: 5px 5px 5px lightgray;
}

.adInfoContainerImage {
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.adInfoContainerImageBox {
    height: 180px;
    width: 180px;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}    

.adInfoTitle, .adInfoCity, .adInfoPrice, .adInfoDateTime {
    margin-bottom: 6px;
}

.adInfoTitle {
    font-weight: bold;
}

.adInfoCity {
    color: gray;
}

.adInfoPrice {
    font-weight: bold;
    color: darkgreen;
}

@media (max-width: 768px) {
    .adInfoContainer {
        flex-direction: column;
        margin: 10px 0px;
        background: white;
    }
    .adInfoContainerImage {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .adInfoContainerImageBox {
        height: 100%;
        width: 100%;
    }  
    .adInfoContainerDetails {
        margin: 25px;
        margin-top: 10px;
    }
}