* {
    box-sizing: border-box;
}

.adInfoContainer {
    border-top: 1px solid lightgray;
    border-radius: 6px;
    max-width: 500px;
    display: flex;
    padding-top: 10px;
    min-height: 180px;
    max-height: auto;
}

.adInfoContainer:hover {
    border: 1px solid lightgray;
    cursor: pointer;
    box-shadow: 5px 5px 5px lightgray;
}

.adInfoContainerImage {
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.adInfoContainerImageBox {
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}    

.adInfoTitle, .adInfoCity, .adInfoPrice, .adInfoDateTime {
    margin-bottom: 6px;
}

.adInfoTitle {
    font-weight: bold;
}

.adInfoCity {
    color: gray;
}

.adInfoPrice {
    font-weight: bold;
    color: darkgreen;
}

.adInfoDateTime {
    
}