.modalColumn {
    width: 100%;
}

.modalColumn > button {
    width: 100%;
    height: 35px;
    background: white;
    cursor: pointer;
    margin-bottom: 2px;
    padding-bottom: 35px;
    outline: none;
}

.modalColumn > button:hover {
    color: #00547e;
}

.modalColumn > button:focus {
    color: #00547e;
    border: 2px solid black;
    border-radius: 8px;
}

.modalColumnRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.modalColumnRow > img {
    height: auto;
    width: 18px;
}

.modalColumnRow > span {
    font-size: 14px;
    margin: 10px 10px;
}