* {
    box-sizing: border-box;
}

.headerContainer {
    width: 100%;
    background: #128e73;
    box-sizing: border-box;
    min-height: 60px;
    display: flex;
    justify-content: center;
    overflow: hidden;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: Arial,Helvetica,sans-serif;
    width: 984px;
    overflow: visible;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 30px;
    margin-right: 50px;
}

.allAdsLink {
    margin-right: 30px;
}

.logo:hover {
    cursor: pointer;
}

.loginButton:hover, .allAdsLink:hover {
    cursor: pointer;
    color: #d4dada;

}

.headerRight {
    display: flex;
    align-items: center;
}

.postYourAdButtonContainer {
    margin-left: 50px;
    height: 42px;
}

.postYourAdButton {
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #673500;
    background: -webkit-linear-gradient(#ffd972,#ffba49);
    text-shadow: 0 1px 0 #ffee96;
    outline: none;
    box-shadow: 0 1px 2px 0 #004137;
    border: solid 0 transparent;
    border-radius: 4px;
}

.postYourAdButton:hover {
    cursor: pointer;
    background: linear-gradient(#ffba49,#ffd972);
}

.postYourAdButton:active {
    cursor: pointer;
    background: #ffd972;
}

.loginButton {
    margin-left: 50px;
}

.email_logout_Container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        width: 100vw;
        padding: 10px;
    }
    .headerLeft {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }
    .headerRight {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }
    .logo {
        margin: 8px 0px;
    }
    .allAdsLink {
        margin: 8px 0px;
    }
    .email_logout_Container {
        flex-direction: column;
    }
    .loginButton {
        margin-left: 0px;
        margin: 8px 0px;
        margin-left: auto;
    }
    .email {
        display: none;
    }
    .postYourAdButtonContainer {
        margin-left: 0px;
    }
}