.postAdBodyColumn {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    /* border: 1px solid rgb(211, 211, 211); */
    width: 100%;
    padding: 15px 0px;
}

.postAdBodyColumnHeading {
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(230, 230, 230);
}

.postAdBodyColumnHeading > span {
    font-weight: bold;
    margin-left: 5px;
}

.postAdBodyColumnHeading > img {
    height: auto;
    width: 30px;
}

.postAdBodyColumn > div {
    border: 1px solid rgb(230, 230, 230);
    border-top: none;
    padding: 10px;
}

.postAdBodyColumn div > button {
    text-decoration: none;
    color: #0074ba;
    background: white;
    border: none;
    cursor: pointer;
}

.postAdBodyColumn > button:hover {
    text-decoration: none;
    color: #00547e;
}

.linkArrowHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightArrow {
    height: auto;
    width: 20px;
    opacity: 0.4;
}