.postAdContainer {
    width: 100%;
    background: #e7edee;
    box-sizing: border-box;
    min-height: 365px;
    max-height: auto;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid green;
    padding-bottom: 25px;
}

.postAdBody {
    width: 984px;
    box-sizing: border-box;
    margin-top: 20px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 40px;
}

.postAdHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postAdMain {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}