.showcaseContainer {
    width: 100vw;
    background: white;
    box-sizing: border-box;
    min-height: 450px;
    max-height: auto;
    display: flex;
    justify-content: center;
    overflow: visible;
    border-bottom: 1.5px solid green;
    padding-bottom: 25px;
}

.showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-family: Arial,Helvetica,sans-serif;
    width: 984px;
    overflow: visible;
}

.showcaseColumnOne {
    width: 492px;
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.showcaseColumnOne > .rowOne {
    padding: 5px;
}

.rowOneHeading {
    line-height: 35px;
}

.rowOneParagraph {
    line-height: 25px;
    color: rgb(121, 121, 121);
}

.showcaseCategories {
    border: 1px solid lightgrey;
    height: auto;
    padding-bottom: 15px;
    border-radius: 4px;
}

.showcaseCategoriesRowOne {
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
}

.categoryColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categoryColumn button {
    text-decoration: none;
    color: #0074ba;
    display: flex;
    flex-direction: column;
    outline: none;
    border: none;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.categoryColumn > button:hover {
    background-color: rgb(243, 242, 242);
    text-decoration: none;
    color: #00547e;
    cursor: pointer;
}

.showcaseCategoriesRowTwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px 30px 0px 30px;
    margin-bottom: 0px;
    font-size: 13px;
}

.showcaseCategoriesRowTwoItemOne {
    background-color: red;
    color: white;
    padding: 0px 5px;
    border-radius: 10px;
    text-transform: uppercase;

}

.showcaseCategoriesRowTwoItemTwo {
    background-color: blue;
    color: white;
    padding: 0px 5px;
    border-radius: 10px;
}

.showcaseCategoriesRowTwoItemThree {
    color: rgb(121, 121, 121);
}

.showcaseColumnTwo {
    width: 297px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.bdMap {
    width: 100%;
    height: auto;
}

.showcaseColumnThree {
    width: 195px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 8px;
}

.showcaseColumnThree > .cities ul {
    list-style-type:none;
    text-align: right;
}

.showcaseColumnThree > .cities ul button {
    text-decoration: none;
    color: #0074ba;
    outline: none;
    border: none;
    background: white;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

.showcaseColumnThree > .cities ul li {
    margin: 0 0 8px;
}

.showcaseColumnThree > .cities ul button:hover {
    text-decoration: none;
    color: #00547e;
    cursor: pointer;
}

@media (max-width: 768px) {
    .showcase {
        width: 100vw;
        flex-direction: column;
        padding: 10px;
    }
    .showcaseColumnOne {
        width: auto;
    }
    .showcaseColumnOne > .rowOne {
        padding: 0px;
    }
    .showcaseCategoriesRowOne {
        justify-content: space-between;
        padding: 5px;
        font-size: 16px;
    }
    .showcaseCategories > .showcaseCategoriesRowOne > .categoryColumn > button {
        font-size: 16px;
    }
    .showcaseCategoriesRowTwo {
        flex-direction: column;
        padding: 5px;
        font-size: 16px;
    }
    .showcaseCategoriesRowTwoItemOne, .showcaseCategoriesRowTwoItemTwo, .showcaseCategoriesRowTwoItemThree {
        margin: 5px 0px;
    }
    .showcaseColumnTwo {
        display: none;
    }
    .showcaseColumnThree{
        margin-right: 0px;
        padding: 0px;
        width: 100vw;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .showcaseColumnThree > .cities ul {
        /* padding: 0px 16px; */
        list-style-type:none;
        text-align: left;
    }
    .showcaseColumnThree > .cities ul button {
        font-size: 16px;
        margin: 4px 0px;
    }
}